<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key ="LoginId" value="admin"/>
    <add key ="Password" value="123"/>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  <connectionStrings>
    <add name ="MyConn" 
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\nawab\Desktop\Computer peripherals\Computer peripherals\App_Data\ElectronicStore.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Datal.SqlClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.webServer>    
  <defaultDocument>
    <files>
      <clear />
      <add value="Home.aspx" />
    </files>
  </defaultDocument>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
